# servo.thaw.de/countries
# server configuration file
# by Arne Johannessen
# mailto:webmaster@thaw.de

# last modified 2003-10-15 by webmaster@thaw.de


<IfModule mod_autoindex.c>
	# Create some previews
	IndexOptions -SuppressDescription
	AddDescription '<IMG SRC="at.gif" ALT="">' at.gif
	AddDescription '<IMG SRC="de.gif" ALT="">' de.gif
	AddDescription '<IMG SRC="dk.gif" ALT="">' dk.gif
	AddDescription '<IMG SRC="gb.gif" ALT="">' gb.gif
	AddDescription '-&gt; gb.gif' en.gif
	AddDescription '<IMG SRC="es.gif" ALT="">' es.gif
	AddDescription '<IMG SRC="fr.gif" ALT="">' fr.gif
	AddDescription '<IMG SRC="ie.gif" ALT="">' ie.gif
	AddDescription '<IMG SRC="it.gif" ALT="">' it.gif
	AddDescription '<IMG SRC="nl.gif" ALT="">' nl.gif
	AddDescription '<IMG SRC="no.gif" ALT="">' no.gif
	AddDescription '<IMG SRC="se.gif" ALT="">' se.gif
	AddDescription '<IMG SRC="us.gif" ALT="">' us.gif
</IfModule>
