AddCharset cp850 .DAT
AddType text/plain .DAT
AddCharset UTF-8 .html
AddCharset UTF-8 .js
AddType application/javascript .js

Redirect 303 /test/LowFriction/1.html http://arne.johannessen.de/test/LowFriction/
Redirect 303 /test/LowFriction/1.js http://arne.johannessen.de/test/LowFriction/low-friction.js
Redirect 303 /test/LowFriction/2.html http://arne.johannessen.de/test/LowFriction/
Redirect 303 /test/LowFriction/2.js http://arne.johannessen.de/test/LowFriction/low-friction.js
Redirect 301 /test/LowFriction/3.html http://arne.johannessen.de/test/LowFriction/
Redirect 301 /test/LowFriction/3.js http://arne.johannessen.de/test/LowFriction/low-friction.js
